@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@(ViewBag.Title ?? BreezeShop.Core.DataProvider.GlobeInfo.WebSetting.Name)</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/css/base.css")" />
    <link href="~/Content/css/main.css?v=0.0.3" rel="stylesheet" />
    @RenderSection("head",false)
</head>
<body>
<article id="wrap" class="sc">
    @RenderBody()
    <footer id="foot">
        <!--util-->
        <div class="util">
            <!--登录前-->
            <span><a href="#wrap">TOP 返回顶部</a></span>
        </div>
        <!--联系我们-->
        <div class="contact-us">
            <p class="info">
                <span>客服微信：21669832</span><br />
                <span>欢迎来电询问 : 18868963721</span><br/>
                <span>服务时间：工作日9:00am-8:30pm</span>
            </p>
            <p class="copyright">© www.nbheyi.com.cn 浙ICP备15038560号-1 </p>
        </div>
    </footer>
    @RenderSection("warplast", false)
</article>
<script src="@Url.Content("~/Content/js/jquery.js")"></script>
    @RenderSection("bodybottom", false)
</body>
</html>