@model List<Yun.Item.ShopItemCategory>
@{
    ViewBag.Title = "商品列表";
}

<div class="search">
    <form method="GET" action="@Url.Action("List")">
        <input type="text" placeholder="商品搜索：请输入关键子" name="q" value="@Request.QueryString["q"]"/>
        <button type="submit" class="icon">提交</button>
    </form>
</div>
<div class="search-list">
    <ul class="category">
        <li><a href="@Url.Action("ItemData", new {id = 0})">全部</a></li>
        @if (Model != null)
        {
            foreach (var c in Model)
            {
                <li><a href="@Url.Action("ItemData", new {id = c.Id})">@c.Title</a></li>
            }
        }
    </ul>
    <div class="page-container" id="j-item-content">
        @Html.Action("ItemData",new { q = Request.QueryString["q"]})
    </div>
</div>


@section warplast{
    @Html.Partial("_FooterNav")
}

@section bodybottom{
    <script>
        $(".category li:first").addClass("active");

        $(".category li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            $.get($("a", this).attr("href"), { r: Math.round(), q:$("input[name='q']").val() }, function(html) {
                $("#j-item-content").empty().append(html);
            });

            return false;
        });
    </script>
}