@model BreezeShop.Web.Areas.Admin.Models.AddCashCouponModel
@{
    ViewBag.Title = "新增代金券";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var items = (List<Yun.Item.GoodsDetail>)ViewData["Items"];
}
@section headerbeforeace{
    <link rel="stylesheet" href="@Url.Content("~/areas/admin/Content/css/bootstrap-datetimepicker.min.css")" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/datepicker.css")" rel="stylesheet" />
}

@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
        </li>
        <li>
            <a href="@Url.Action("Index")">代金券列表</a>
        </li>
        <li class="active">新增代金券</li>
    </ul>
}

@section pageheader{
    <h1>
        新增代金券
    </h1>
}

@using (Html.BeginForm("Add", "CashCoupon", FormMethod.Post, new { @class = "form-horizontal", id = "SubmitForm" }))
{
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Name">代金券名字：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.TextBoxFor(m => m.Name, new { @class = "input-large", placeholder = "代金券名字" })</div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Name)</div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Num">生成数量：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.TextBoxFor(m => m.Num, new { @class = "input-large", placeholder = "生成数量" })</div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Name)</div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="CashType">代金券类型：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.TextBoxFor(m => m.CashType, new { @class = "input-large", placeholder = "代金券类型" })</div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="Credit">面值：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.TextBoxFor(m => m.Credit, new { @class = "input-mini", placeholder = "面值" })</div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.Name)</div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="MinCredit">订单金额：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.TextBoxFor(m => m.MinCredit, new { @class = "input-mini", placeholder = "订单金额" })</div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.MinCredit)</div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="ItemsId">适用商品：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="clearfix">@Html.DropDownListFor(m => m.ItemsId, items.Select(e=>new SelectListItem
                                  {
                                      Text = e.ItemTitle,
                                      Value = e.Id.ToString()
                                  }), new { multiple = "multiple", @class = "input-xlarge" })</div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 no-padding-right">有效期：</label>
        <div class="col-xs-12 col-sm-10">
            <div class="input-daterange input-group input-xlarge">
                <input class="input-sm form-control date-picker" id="BeginTime" type="text" name="BeginTime" data-date-format="yyyy-mm-dd" readonly="readonly">
                <span class="input-group-addon">
                    <i class="fa fa-exchange"></i>
                </span>
                <input class="input-sm form-control date-picker" id="EndTime" type="text" name="EndTime" data-date-format="yyyy-mm-dd" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" type="submit" id="J-Submit-Btn">
                <i class="icon-ok bigger-110"></i>提交
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>重置
            </button>
        </div>
    </div>
}

@section specificscripts{
    <script src="~/Areas/Admin/Content/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Areas/Admin/Content/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>


}

@section inlinescripts
{
<script type="text/javascript">
    $('.date-picker').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

}
