@model BreezeShop.Web.Areas.Admin.Models.UpdateItemCategoryModel
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
        </li>

        <li>
            <a href="@Url.Action("Category", "Commodity")">商品分类管理</a>
        </li>
        <li class="active">编辑商品分类</li>
    </ul>
}

@section pageheader{
    <h1>
        编辑商品分类
    </h1>
}

@using (Html.BeginForm("EditCategory", "Commodity", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.ParentId)
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Title">分类名称：</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Title, new { @class = "col-xs-10 col-sm-5", placeholder = "分类名称，不能重复" })
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Image">上传：</label>
        <div class="col-sm-4">
            <input type="file" id="id-input-file-2" name="imagefile" />
            @if (!Model.Image.IsEmpty())
            {
                            <span class="help-block">
                <img src="@Model.Image" width="120"/>
            </span>
            }
            @Html.HiddenFor(m=>m.Image)
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序 </label>

        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Sort, new { @class = "input-sm", placeholder = "请输入排序" })
            <div class="help-block">@Html.ValidationMessageFor(m => m.Sort)</div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <label>
                <input name="IsDisplay" id="IsDisplay" type="checkbox" class="ace" value="1" @(Model.Display ? "checked" : "") />
                <span class="lbl">是否显示</span>
            </label>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>提交
            </button>
        </div>
    </div>
}

@section specificscripts
{
    <script src="@Url.Content("~/areas/admin/Content/js/bootstrap-tag.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/areas/admin/Content/js/jquery.autosize.js")" type="text/javascript"> </script>
}

@section inlinescripts{
    <script src="@Url.Content("~/areas/admin/Content/js/jquery.validate.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/areas/admin/Content/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
    <script type="text/javascript" src="@Url.Content("~/areas/admin/Content/js/kindeditor/kindeditor-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/admin/Content/js/kindeditor/lang/zh_CN.js")"></script>

    <script type="text/javascript">
        $(function () {
            $('#id-input-file-2').ace_file_input({
                no_file: '还没有上传文件哦...',
                btn_choose: '更换图片',
                btn_change: '更换图片',
                droppable: false,
                onchange: null,
                thumbnail: false, //| true | large
                whitelist: 'gif|png|jpg|jpeg'
            });
        });
        KindEditor.ready(function (K) {
            window.editor = K.create('#Detail', {
                width: '100%',
                height: "360px",
            });
        });

        var tag_input = $('#Tags');
        if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()))) {
            tag_input.tag(
                {
                    placeholder: tag_input.attr('placeholder'),
                    //enable typeahead by specifying the source array
                    source: ace.variable_US_STATES, //defined in ace.js >> ace.enable_search_ahead
                }
            );
        } else {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            //$('#form-field-tags').autosize({append: "\n"});
        }
    </script>
}