@model BreezeShop.Web.Areas.Admin.Models.AddArticleCategoryModel
@{
    ViewBag.Title = "新增文章分类";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
        </li>

        <li>
            <a href="@Url.Action("Category")">文章分类管理</a>
        </li>
        <li class="active">新增文章分类</li>
    </ul>
}

@section pageheader{
    <h1>
        新增文章分类
    </h1>
}

<div class="col-xs-12">
    @using (Html.BeginForm("AddCategory", "Article", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="Name">分类名称：</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Title, new {@class = "col-xs-12 col-sm-5", placeholder = "请输入分类名称"})
                <div class="help-block">@Html.ValidationMessageFor(m => m.Title)</div>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">分类缩略图：</label>
            <div class="col-sm-4">
                <input type="file" id="id-input-file-2" name="fileimage" />
            </div>
        </div>
                <div class="space-4"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Description">描述：</label>
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                @Html.TextAreaFor(m=>m.Description, 5, 10, new { @class = "input-xxlarge" })
            </div>
        </div>
    </div>
     <div class="space-4"></div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                <label>
                    <input name="Display" id="Display" type="checkbox" class="ace" value="1" checked="" />
                    <span class="lbl">是否显示</span>
                </label>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>提交
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>重置
                </button>
            </div>
        </div>
    }

    @section specificscripts{
        <script src="@Url.Content("~/areas/admin/Content/js/jquery.nestable.js")"></script>
        <script src="@Url.Content("~/areas/admin/Content/js/bootbox.js")"></script>
    }

    @section inlinescripts{
        <script type="text/javascript">
            jQuery(function($) {
                $('#id-input-file-2').ace_file_input({
                    no_file: '还没有上传文件哦...',
                    btn_choose: '选择图片',
                    btn_change: '更换图片',
                    droppable: false,
                    onchange: null,
                    thumbnail: false
                });
            });
        </script>
    }
</div>
