@using BreezeShop.Web.Helper
@model BreezeShop.Core.PageModel<Yun.Pay.WithdrawalsDetail>
@{
    ViewBag.Title = "提现管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section headerbeforeace{
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
}

@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
        </li>
        <li class="active">提现管理</li>
    </ul>
}

@section pageheader{
    <h1>
        提现管理
    </h1>
}

<div class="table-header">
    提现列表
</div>

<div class="table-responsive">
    <div class="dataTables_wrapper">
        <div class="row">
            <form method="GET" action="@Url.Action("CommissionDetails", "Distribution", new {area = "Admin"})" class="col-sm-12" id="j-trade-form">
                <div class="form-inline">
                    <div class="form-group">提现状态：</div>
                    <div class="form-group">
                        @Html.DropDownList("status", new List<SelectListItem>
                        {
                            new SelectListItem {Text = "全部", Value = "", Selected = Request.QueryString["status"].IsEmpty()},
                            new SelectListItem {Text = "待提现", Value = "0", Selected = Request.QueryString["status"] == "I_HAS_NOT_COMMENT"},
                            new SelectListItem {Text = "已提现", Value = "1", Selected = Request.QueryString["status"] == "I_HAS_COMMENT"},
                            new SelectListItem {Text = "已拒绝", Value = "-1", Selected = Request.QueryString["status"] == "OTHER_HAS_COMMENT"}
                        })
                    </div>

                </div>
                <div class="space-4"></div>

                <div class="form-inline">
                    <div class="form-group">提现申请时间：</div>
                    <div class="form-group">
                        从<input type="text" value="@Request.QueryString["minDateTime"]" na name="minDateTime" class="date-picker" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        到<input type="text" value="@Request.QueryString["maxDateTime"]" name="maxDateTime" class="date-picker" readonly="readonly"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-inline">
                    <button class="btn btn-purple btn-sm j-trade-btn" type="button" data-url="@Url.Action("CommissionDetails", "Distribution", new {area = "Admin"})">
                        <i class="icon-search icon-on-right bigger-110"></i>
                        搜索
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>姓名</th>
                <th>申请时间</th>
                <th>提现金额</th>
                <th>提现账号</th>
                <th>提现状态</th>
                <th>提现状态</th>
                <td>打款时间</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var r in Model.Items)
            {
                <tr>
                    <td>@r.RealName</td>
                    <td>@r.CreateTime</td>
                    <td>@r.Money</td>
                    <td>@r.BankAccount/@r.BankName</td>
                    <td>@switch (r.Status)
                        {
                            case 0:
                                @:待提现;
                                break;
                            case 1:
                                @:已提现
                                break;
                            default:
                                @:已拒绝
                                break;
                        }</td>
                    <td>@r.ModifyTime</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.Pager("PagerBottom", Model.CurrentPage, Model.TotalItems, "_PagerTemplate", 20)
    </div>
</div>

@section specificscripts{
    <script src="@Url.Content("~/areas/admin/Content/js/bootbox.js")"></script>
    <script src="@Url.Content("~/areas/admin/Content/js/datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/areas/admin/Content/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js")"></script>
}

@section inlinescripts{
    <script type="text/javascript">
        $(".date-picker").datetimepicker({ format: 'yyyy-mm-dd hh:ii', language: 'zh-CN', autoclose: true, bootcssVer: 3 });
    </script>
}