@model BreezeShop.Web.Areas.Admin.Models.AddFunctionModel
@{
    ViewBag.Title = "新增功能块";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">首页</a>
        </li>
        <li class="active">添加功能模块</li>
    </ul>
}

@section pageheader{
    <h1>
        添加功能模块
    </h1>
}

    @using (Html.BeginForm("AddFunction", "Permission", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">功能名字：</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">@Html.TextBoxFor(m => m.Name, new { @class = "col-xs-12 col-sm-5", placeholder = "请输入功能名字" })</div>
                <div class="help-block">@Html.ValidationMessageFor(m => m.Name)</div>
            </div>
        </div>
            <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="Description">图标样式：</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Description, new { @class = "col-xs-12 col-sm-5", placeholder = "图标样式名" })
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="Url">目标网址：</label>
            <div class="col-sm-9">
                <div class="clearfix">@Html.TextBoxFor(m => m.Url, new { @class = "col-xs-12 col-sm-5", placeholder = "目标网址，点击后跳转的链接地址" })</div>
                <div class="help-block">@Html.ValidationMessageFor(m => m.Url)</div>
            </div>
        </div>
        <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="SortOrder">排序：</label>
        <div class="col-sm-9">
            <div class="clearfix">@Html.TextBoxFor(m => m.SortOrder, new { @class = "col-xs-12 col-sm-5", placeholder = "排序，越大越上面" })</div>
            <div class="help-block">@Html.ValidationMessageFor(m => m.SortOrder)</div>
        </div>
    </div>
    <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="AllowBlock">允许的权限集合：</label>
            <div class="col-sm-9">
                @Html.TextAreaFor(m => m.AllowBlock, new { @class = "col-xs-12 col-sm-5", placeholder = "可以是可允许访问的网址集合", rows = "12" })
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                <label>
                    <input name="Display" id="Display" type="checkbox" class="ace" value="1" checked="" />
                    <span class="lbl">是否在菜单上显示</span>
                </label>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>提交
                </button>
            </div>
        </div>
    }

@section inlinescripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.validate.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
}