@model Yun.Site.SiteModule
@{
    Layout = null;
}

@using (Html.BeginForm("AddModule", "SitePart", new {id = ViewContext.RouteData.Values["id"]}, FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ModuleName">模块名称：</label>
        <div class="col-xs-12 col-sm-9">
            @Html.TextBox("ModuleName", Model.Title, new { @class = "input-large", placeholder = "请输入模块名称" })
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ModuleFlag">模块标识：</label>
        <div class="col-xs-12 col-sm-9">
            <input class="input-large" id="ModuleFlag" name="ModuleFlag" placeholder="请输入模块标识" type="text" value="@Model.Name">
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">图片上传：</label>
        <div class="col-sm-5">
            <input type="file" id="id-input-file-2" name="fileimage" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"></label>
        <div class="help-block col-sm-5">
            <input type="hidden" value="@Model.Thumb" name="thumb" />
            <img src="@Model.Thumb" width="120" />
        </div>
    </div>

   
    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="remark">备注：</label>
        <div class="col-xs-12 col-sm-5">
            <div class="clearfix">
                <textarea class="input-xxlarge" cols="10" id="remark" name="remark" rows="5">@Model.Remark</textarea>
            </div>
        </div>
    </div>
}
<script>
    $('#id-input-file-2').ace_file_input({
        no_file: '还没有上传文件哦...',
        btn_choose: '选择图片',
        btn_change: '更换图片',
        droppable: false,
        onchange: null,
        thumbnail: false, //| true | large
        whitelist: 'gif|png|jpg|jpeg'
    });
    $("#J-ContentForm").unobtrusiveValidate();
</script>
